<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>Pigeon Gamer</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	
	<body>
	   <div class="container my-2">
	       <h1>Dashboard</h1>
	       <a th:href="@{/showNewProductForm}" class="btn btn-info btn-sm mb-3"> Commande fournisseur </a>
	       
			<table border="1" class="table table-striped table-responsive-md">
	            <thead>
	                <tr>
	                    <th>Numéro</th>
	                    <th>Date de commande</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="command : ${listCommands}">
	                    <td th:text="${command.id_command}"></td>
	                    <td th:text="${command.command_date}"></td>
	                </tr>
	            </tbody>
        	</table>
	    </div>
	</body>

</html>