<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Pigeon Gamer</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="container my-2">
        <h1>Bienvenue sur Pigeon Gamer</h1>
        <p>RGB Everywhere</p>
        
        <h2>Nos produits</h2>
		
		<table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listProducts}">
                    <td th:text="${product.product_name}"></td>
                    <td th:text="${product.product_desc}"></td>
                    <td th:text="${product.product_price} + €"></td>
                </tr>
            </tbody>
        </table>
        
    </div>
</body>

</html>