<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Pigeon Gamer</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="container my-2">
        <h1>Bienvenue sur Pigeon Gamer</h1>
        <p>RGB Everywhere</p>
        
        <h2>Nos produits</h2>

		<section style="display: flex; gap: 2rem;">
	        <div class="card" style="width: 18rem;" th:each="product : ${listProducts}">
			  <img class="card-img-top" src="https://t3.ftcdn.net/jpg/04/62/93/66/360_F_462936689_BpEEcxfgMuYPfTaIAOC1tCDurmsno7Sp.jpg" alt="Card image cap">
			  <div class="card-body">
			    <h3 class="card-title" th:text="${product.product_name}"></h3>
			    <p class="card-text" th:text="${product.product_desc}"></p>
			    <h4 th:text="${product.product_price} + €"></h4>
			    <a href="#" class="btn btn-primary">Ajouter au panier</a>
			  </div>
			</div>
		</section>
		
    </div>
    
</body>

</html>