<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Liste des produits</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<main class="container my-2">
	        <h1>Liste des articles disponible à la commande</h1>
			<form action="addToCart" method="post">
		        <table border="1" class="table table-striped table-responsive-md">
		            <thead>
		                <tr>
		                    <th>Nom</th>
		                    <th>Description</th>
		                    <th>Prix</th>
		                    <th>Stock</th>
		                    <th>Actions</th>
		                </tr>
		            </thead>
		            	
		            <tbody>
		                <tr th:each="product : ${listProducts}">
		                    <td th:text="${product.product_name}"></td>
		                    <td th:text="${product.product_desc}"></td>
		                    <td th:text="${product.product_price} + €"></td>
		                    <td th:text="${product.product_stock}"></td>
		                    <td> 
		                    	<button type="submit" class="btn btn-info" th:href="@{/showFormForUpdate/{id}(id=${id_product})}">Commander</button>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
		       </form>
	        
	        <a th:href="@{/dashboard}">Retour au dashboard</a>
	    </main>
	</body>
</html>